<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartChainLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SmartChainLib.Properties.Settings>
            <setting name="MQTTServerAddress" serializeAs="String">
                <value>139.162.222.115</value>
            </setting>
            <setting name="MQTTServerPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MQTTUserName" serializeAs="String">
                <value>MATZI</value>
            </setting>
            <setting name="MQTTPassword" serializeAs="String">
                <value>MATZI</value>
            </setting>
            <setting name="KeepAlivePeriod" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ArduinoPID" serializeAs="String">
                <value>0951</value>
            </setting>
            <setting name="ArduinoVID" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="ArduinoCOMPort" serializeAs="String">
                <value>COM4</value>
            </setting>
        </SmartChainLib.Properties.Settings>
    </applicationSettings>
</configuration>